@charset "utf-8";

$primary-color: #4F5D75 !default;
$dark-color: #303742 !default;
$light-color: #fff !default;

$base-font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

@import '../../node_modules/spectre.css/src/spectre.scss';

@import './fonts.scss';
